<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.mytrip.dao.MateDAO">
	<select id="selectMateList" resultType="kr.green.mytrip.vo.TripmateVO">
		SELECT * FROM tripmate
		WHERE tm_me_id = #{me_id} AND tm_mate_id != '';
	</select>
	
	<select id="selectTripmate" resultType="kr.green.mytrip.vo.TripmateVO">
		SELECT * FROM tripmate
		WHERE tm_me_id = #{me_id_1} AND tm_mate_id = #{me_id_2};
	</select>

	<insert id="insertTripmateRequest">
		INSERT INTO tripmate_request( tq_request_id, tq_receive_id, tq_date )
		VALUES ( #{request_id}, #{receive_id}, now() );
	</insert>
	
	<select id="checkTripmateRequest" resultType="kr.green.mytrip.vo.TripmateRequestVO">
	SELECT * FROM tripmate_request
		WHERE (tq_request_id = #{request_id} AND tq_receive_id = #{receive_id});
	</select>
	
	<select id="checkTripmate" resultType="kr.green.mytrip.vo.TripmateVO">
	SELECT * FROM tripmate
	WHERE (tm_me_id = #{request_id} AND tm_mate_id = #{receive_id});
	</select>
	
	<select id="tripmateReceived" resultType="kr.green.mytrip.vo.TripmateRequestVO">
	SELECT * FROM tripmate_request
		WHERE tq_receive_id = #{me_id};
	</select>
	
	<select id="tripmateRequest" resultType="kr.green.mytrip.vo.TripmateRequestVO">
	SELECT * FROM tripmate_request
		WHERE tq_request_id = #{me_id};
	</select>
	
</mapper>
