<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.mytrip.dao.TripDAO">
	
	<select id="selectMiddleCategory" resultType="kr.green.mytrip.vo.MiddleCategoryVO">
		SELECT * FROM middle_category WHERE mc_lc_num = #{lc_num};
	</select>
	
	<select id="selectSmallCategory" resultType="kr.green.mytrip.vo.SmallCategoryVO">
		SELECT * FROM small_category WHERE sc_mc_num = #{mc_num};
	</select>
	
	<insert id="insertTrip"
	useGeneratedKeys="true" keyProperty="trip.tr_num"
		parameterType="kr.green.mytrip.vo.TripVO">
		INSERT INTO trip(
			tr_me_id, tr_sm_num, tr_mca_name, tr_sca_name, tr_title, tr_start_date, tr_end_date, tr_op_name, tr_with
		)
		VALUES(
			#{trip.tr_me_id}, #{trip.tr_sm_num}, #{trip.tr_mca_name}, #{trip.tr_sca_name}, #{trip.tr_title}, #{trip.tr_start_date}, #{trip.tr_end_date}, #{trip.tr_op_name}, #{trip.tr_with}
		);
	</insert>
	
	<insert id="insertFile">
		INSERT INTO file(fi_ori_name, fi_name, fi_tr_num)
		VALUES (#{file.fi_ori_name}, #{file.fi_name}, #{file.fi_tr_num});
	</insert>
	
	<select id="selectTripListAll" resultType="kr.green.mytrip.vo.TripVO">
		SELECT * FROM trip
		WHERE tr_del='N'
		AND tr_sm_num = #{sm_num}
		ORDER BY tr_num DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum};
	</select>
	
	<select id="selectTripList" resultType="kr.green.mytrip.vo.TripVO">
		SELECT * FROM trip
		WHERE tr_del='N'
		AND tr_op_name = "전체공개"
		AND tr_sm_num = #{sm_num}
		ORDER BY tr_num DESC;
	</select>
	
	<select id="selectMiddleCategoryName" resultType="string">
		SELECT mc_name FROM middle_category WHERE mc_num = #{mc_num};
	</select>
	
	<select id="selectSmallCategoryName" resultType="string">
		SELECT sc_name FROM small_category WHERE sc_num = #{sc_num};
	</select>
	
	<select id="selectTotalTripCount" resultType="int">
		SELECT COUNT(*) FROM trip WHERE tr_del = 'N' AND tr_sm_num = #{sm_num};
	</select>
	
	<select id="selectTripDetail" resultType="kr.green.mytrip.vo.TripVO">
		SELECT * FROM trip
		WHERE tr_num = #{tr_num}
		AND (tr_op_name= "전체공개" OR tr_op_name="트립메이트공개" OR tr_op_name= "회원공개" OR tr_op_name= "비공개");
	</select>
	
	<select id="selectFileList" resultType="kr.green.mytrip.vo.FileVO">
		SELECT * FROM file WHERE fi_tr_num=#{tr_num} AND fi_del='N';
	</select>
	
	<select id="selectTrip" resultType="kr.green.mytrip.vo.TripVO">
	SELECT * FROM trip WHERE tr_num=#{tr_num};
	</select>
	
	<update id="deleteTrip">
		UPDATE trip
		SET tr_del = 'Y'
		WHERE tr_num = #{tr_num};
	</update>
	
	<update id="updateTrip">
		UPDATE trip
		SET tr_mca_name=#{trip.tr_mca_name}, tr_sca_name=#{trip.tr_sca_name},
			tr_title=#{trip.tr_title}, tr_start_date=#{trip.tr_start_date}, tr_end_date =#{trip.tr_end_date},
			tr_op_name =#{trip.tr_op_name}, tr_with = #{trip.tr_with}
		WHERE tr_num = #{trip.tr_num};
	</update>
	
	<select id="selectMiddlecategoryNum" resultType="Integer">
		SELECT mc_num FROM middle_category WHERE mc_name = #{tr_mca_name};
	</select>
	
	<select id="selectSmallcategoryNum" resultType="Integer">
		SELECT sc_num FROM small_category WHERE sc_name = #{tr_sca_name};
	</select>
	
	<select id="selectActivityList" resultType="kr.green.mytrip.vo.ActivityVO">
		SELECT * FROM activity WHERE ac_tr_num = #{tr_num};
	</select>
</mapper>
