<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.mytrip.dao.TripDAO">
	
	<select id="selectMiddleCategory" resultType="kr.green.mytrip.vo.MiddleCategoryVO">
		SELECT * FROM middle_category WHERE mc_lc_num = #{lc_num};
	</select>
	
	<select id="selectSmallCategory" resultType="kr.green.mytrip.vo.SmallCategoryVO">
		SELECT * FROM small_category WHERE sc_mc_num = #{mc_num};
	</select>
	
	<insert id="insertTrip"
	useGeneratedKeys="true" keyProperty="trip.tr_num"
		parameterType="kr.green.mytrip.vo.TripVO">
		INSERT INTO trip(
			tr_me_id, tr_sm_num, tr_ca_name, tr_ca_sort_name, tr_title, tr_start_date, tr_end_date, tr_op_name
		)
		VALUES(
			#{trip.tr_me_id}, #{trip.tr_sm_num}, #{trip.tr_ca_name}, #{trip.tr_ca_sort_name}, #{trip.tr_title}, #{trip.tr_start_date}, #{trip.tr_end_date}, #{trip.tr_op_name}
		);
	</insert>
	
	<insert id="insertFile">
		INSERT INTO file(fi_ori_name, fi_name, fi_tr_num)
		VALUES (#{file.fi_ori_name}, #{file.fi_name}, #{file.fi_tr_num});
	</insert>
	
	<select id="selectCategoryCount" resultType="int">
		SELECT COUNT(*) FROM ${tableName} WHERE ${col_name} = #{num} AND ${col_name2} = #{num2};
	</select>
	
	<select id="selectTripListAll" resultType="kr.green.mytrip.vo.TripVO">
		SELECT * FROM trip
		WHERE tr_del='N'
		AND tr_sm_num = #{sm_num}
		ORDER BY tr_num DESC;
	</select>
	
	<select id="selectTripList" resultType="kr.green.mytrip.vo.TripVO">
		SELECT * FROM trip
		WHERE tr_del='N'
		AND tr_op_name = "전체공개"
		AND tr_sm_num = #{sm_num}
		ORDER BY tr_num DESC;
	</select>
	
	<select id="selectCategoryName" resultType="String">
		SELECT ${selectName} from ${tableName}
		WHERE ${colName1} = #{colVal1}
		AND ${colName2} = #{colVal2};
	</select>
	
	<select id="selectTotalTripCount" resultType="int">
		SELECT COUNT(*) FROM trip WHERE tr_del = 'N' AND tr_sm_num = #{sm_num};
	</select>
	
	<select id="selectTripDetail" resultType="kr.green.mytrip.vo.TripVO">
		SELECT * FROM trip
		WHERE tr_num = #{tr_num}
		AND tr_op_name= #{open_range};
	</select>
</mapper>
